@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*
{
    box-sizing: border-box;
    margin:0;
    padding:0; 
    font-family: "Roboto", sans-serif;
}

#nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:7vh;

    padding-left:25px;
    padding-right: 25px;
}

.logo
{
font-size: 1.5em;
color:#3d9c5a;
}

.links
{
padding:50px
}

.links a
{
    margin-right:25px;
    color:#222;
    text-decoration: none;
    font-weight: 700;
}

.links a:hover
{
color:#3d9c5a

}

#content
{
    height:93vh;
    background-color: #EFF2F1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    background-color: #fff;
    width: 50%;
    max-height: 50vh;
    border-radius: 5px;
    box-shadow: 0px 0px 2px grey;
}


#cart-header h3
{
margin-top: 30px;
margin-bottom:10px;
}

#cart-content
{
    padding:50px;
}

#cart-content .cart-element
{
    background-color: #F5EEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    font-weight: bolder;
    margin-bottom:10px;
    border-radius: 5px;
}
#cart-content .cart-element span:first-child
{
    width: 25%;
    text-align: left;
}

#cart-content .cart-element i
{
    color: #3d9c5a;
    cursor: pointer;
    transition: 0.5s all;
}

#cart-content .cart-element i:hover
{
    color: rgb(136, 8, 8);
}


#cart-footer
{
    width: 100%;
    height:5vh;
    background-color: #00153E;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding:40px;
    align-items: center;
    color:#fff
}

#cart-footer a
{
    text-decoration: none;
    background-color: #3d9c5a;
    padding:5px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 5px;
    color:#fff;
    transition:0.5s all;
}

#cart-footer a:hover
{
    background-color: #fff;
    color:#000;
}

