#nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:7vh;
    padding-left:25px;
    padding-right: 25px;
}

.logo a
{
text-decoration: none;
font-size: 1.5em;
color:#3d9c5a;

}

.links
{
padding:50px
}

.links a
{
    margin-right:25px;
    color:#222;
    text-decoration: none;
    font-weight: 700;
    font-size:1em;
}

.links a:hover
{
color:#3d9c5a

}

@media only screen and (max-width: 768px) 
{

#nav
{
    padding-left:10px;
    padding-right: 10px;
}

.links
{
    padding:5px;
}

.links a
{
    margin-right: 10px;
    font-size: 1.2em;
}

}

@media only screen and (min-width: 768px) 
{

    
}