@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin:0;
    padding:0; 
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    color:white;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    color:white;
}

p {
    font-size: 1em;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:70%;
}

.box {
    background-color: white;
    border-radius: 3%;
    width:15vw;
    height:35vh;
    padding:1.5%;
    overflow:auto;
    scrollbar-width: thin;
}

.button {
    background-color: #3d9c5a;
    border:0px;
    border-radius: 3%;
}

.book-row {
    display:flex;
    border-radius: 3%;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding:5px;
    margin:5px 0px;
    font-weight: bold;
    width: 95%;
}

.button {
    background-color: #3d9c5a;
    border:0px;
    border-radius: 3%;
    height:30px;
    width:45px;
    margin: 5px;
}

.button:hover {
    cursor:pointer;
}

.button:active {
    background-color: rgb(168, 166, 166);
    border:1px solid blue;
}

.separator {
    width: 90%;
    border-top: 4px solid #3d9c5a;
}

.text-entry {
    font-size: 15px;
}

#content {
    background-image: url("./images/background.jpg");
    background-size: cover;
    height:93vh;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding:2%;
}

#title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

#search-trip {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#search-trip > form {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 90%;
}

#search-btn {
    width:90%;
}

#search-date {
    margin-top: 30%;
}

#list-trip {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#list-trip > img {
    width: 80%;
}